<h1>Google Login</h1>
<asl-google-signin-button *ngIf="!loggedIn" type='standard' size='large' shape="square" text="signin_with"></asl-google-signin-button>
<div *ngIf="loggedIn">
  <img *ngIf="user.photoUrl" [src]="user.photoUrl" alt="User Photo">
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
  <div *ngFor="let calendarEvents of [primaryCalendarEvents, testApiCalendarEvents]">
    <h2>{{ calendarEvents === primaryCalendarEvents ? 'Primary Calendar' : 'Vacances du personnel' }} Events:</h2>
    <table>
      <tbody>
        <tr *ngFor="let event of calendarEvents">
          <td>{{ event.summary }}</td>
          <td>{{ event.description || 'N/A' }}</td>
          <td>{{ event.start?.dateTime | date:'medium' }}</td>
          <td>{{ event.end?.dateTime | date:'medium' }}</td>
          <td>{{ event.start?.timeZone }}</td>
          <td>{{ event.organizer?.displayName || 'N/A' }}</td>
          <td>{{ event.location || 'N/A' }}</td>
          <td>{{ event.visibility || 'N/A' }}</td>
          <td>{{ event.htmlLink || 'N/A' }}</td>
          <td>{{ event.attendees?.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button *ngIf="loggedIn" (click)="signOut()">SignOut</button>
  <button *ngIf="loggedIn" (click)="getGoogleCalendarData()">Google Calendar</button>
  <button *ngIf="loggedIn" (click)="refreshToken()">Refresh Token</button>
  <button *ngIf="loggedIn" (click)="addEventToPrimaryCalendar()">Ajouter un événement</button>
</div>
